@media only screen and (max-width: 767px) {
  section > .container {
    width: 100%;
    margin: auto;
    display: block;

    padding: 10px;
  }
  /*Xây dựng phần ảnh Banner*/
  .bannerimg {
    padding: 0;
  }
  .name-block {
    top: calc(50% - 200px);
  }
  /*Xây dựng Navbar*/
  #about {
    width: minmax(0, 767px);
    padding: 40px 0;
  }

  #about .container-about {
    flex-direction: column;
    align-items: center;
  }

  #about #target,
  #about #personal-info {
    width: 100%;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .info li {
    font-size: 14px;
  }

  .icon-twitter,
  .icon-facebook,
  .icon-gplus,
  .icon-linkedin {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .nav-bar-icon {
    display: flex;
    margin: 20px;
  }
  /*(Nâng cao) Bổ sung ảnh cá nhân*/
  #nangcao {
    display: none;
    margin: 0;
    padding: 0;
  }
  #job-info .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .container .container-item {
    width: 350px;
  }
  /*Xây dựng Thông tin cá nhân*/
  .container-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .container-about ul {
    list-style: none;
  }

  /*Xây dựng phần Thông tin nghề nghiệp */
  #certificate .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .duan {
    border: none;
    display: flex;
    flex-direction: column;
  }
  /* Xây dựng phần Chứng chỉ - Giải thưởng */
  #project .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /*Xây dựng footer*/
  #footer .container {
    width: 100%;
  }
}
